MicroServices/MicroServices.Application/obj/Debug/net6.0/MicroServices.Application.csproj.AssemblyReference.cache
MicroServices/MicroServices.Models/obj/Debug/net6.0/MicroServices.Models.csproj.AssemblyReference.cache
